@import url(navbar.css);
@import url(modal.css);
@import url(listing.css);
@import url(footer.css);
@import url(scrollbar.css);
@import url(variables.css);
@import url(cart.css);
@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@300&display=swap");

body {
  background-color: var(--primary-color);
  font-family: "Taviraj", serif;
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.underline-l {
  border-bottom: 1px solid black;
  width: 25%;
}
.underline-s {
  border-bottom: 1px solid black;
  width: 10%;
}
.scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
}
