<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matoa</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="../../assets/favicon.png" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="products.css">
</head>

<body>
    <!-- navigation bar -->
    <div class="container">
        <div class="nav-container">
            <a href="/index.html" class="brand-icon">
                <img src="/assets/brand.svg" alt="Matoa" class="brand-icon" />
            </a>
            <div class="nav-links">
                <a href="" class="nav-link">Watches</a>
                <a href="" class="nav-link">Eyewear</a>
                <a href="" class="nav-link">Accessories</a>
                <a href="" class="nav-link">News</a>
            </div>
            <div class="sec-nav-links nav-links">
                <a href="" class="search-icon nav-link">
                    <img src="../../assets/search.svg" alt="" class="search-icon" />
                </a>
                <a href="" class="user-icon-link nav-link">
                    <img src="../../assets/user.svg" alt="" class="user-icon nav-link" />
                    <span class="nav-link-title">Login</span>
                </a>
                <span class=" cart-link-icon">
                    <img src="../../assets/cart.svg" alt="" class="cart-icon " />
                    <div class="nav-cart-item">0</div>
                </span>
            </div>
        </div>
        <!-- Products Page -->
        <div class="products-container">
            <div class="pd-sbar-container">
                <div class="pd-sbar-contentBox">
                    <span class="sbar-contentBox-title">Matoa Premium</span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel"><i
                                class="fa-solid fa-shapes brand-logo secondary-bg"></i>Matoa
                        </p>
                    </span>
                    <span class="sbar-contentBox-title">Delivery Day</span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel">Get in 2 Days
                        </p>
                    </span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel">Next Day Delivery
                        </p>
                    </span>
                    <span class="sbar-contentBox-title">Category</span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel">Men's Watches
                        </p>
                    </span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel">Women's Watches
                        </p>
                    </span>
                    <span class="sbar-contentBox-title">Sort By</span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel">Featured
                        </p>
                    </span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel">Price High to Low
                        </p>
                    </span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel">Price Low to High
                        </p>
                    </span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel">Average Customer review
                        </p>
                    </span>
                    <span class="sbar-contentBox-title">Price</span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel">Under <i
                                class="fa-solid fa-indian-rupee-sign cr-icon"></i>20,000
                        </p>
                    </span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel"> <i class="fa-solid fa-indian-rupee-sign cr-icon"></i>20,000
                            -
                            <i class="fa-solid fa-indian-rupee-sign cr-icon"></i>40,000
                        </p>
                    </span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel"> <i class="fa-solid fa-indian-rupee-sign cr-icon"></i>40,000
                            -<i class="fa-solid fa-indian-rupee-sign cr-icon"></i>60,000
                        </p>
                    </span>
                    <span class="sbar-contentBox-data"><input type="checkbox" class="sbar-contentBox-input">
                        <p class="sbar-contentBox-inplabel"> Over <i
                                class="fa-solid fa-indian-rupee-sign cr-icon"></i>60000
                        </p>
                    </span>
                </div>
            </div>
            <div class="pd-products-container">
                <div class="pd-component-container">
                    <div class="card-container ecom-card">
                        <div class="card-details">
                            <a href="../product-detail/product-details.html" class="card-link">
                                <img src="/assets/items/item9.png" alt="" class="card-image ecom-img" />
                            </a>
                        </div>
                        <a href="" class="card-title link-title">Way Kambas Maple</a>
                        <div class="card-flex">
                            <div class="card-rating">
                                4.1<i class="fa-regular fa-star card-rating"></i>
                            </div>
                            <p class="card-bought">(49)</p>
                        </div>
                        <div class="card-price-flex">
                            <div class="card-disprice">
                                <i class="fa-solid fa-indian-rupee-sign"></i>Rs 25,000
                            </div>
                            <div class="card-price strikeoff">
                                <i class="fa-solid fa-indian-rupee-sign strikeoff"></i>Rs 36,000
                            </div>
                            <div class="card-discount">16% off</div>
                        </div>
                    </div>
                    <div class="card-container ecom-card">
                        <div class="card-details">
                            <a href="../product-detail/product-details.html" class="card-link">
                                <img src="/assets/items/item1.png" alt="" class="card-image ecom-img" />
                            </a>
                        </div>
                        <a href="" class="card-title link-title">Kaili</a>

                        <div class="card-flex">
                            <div class="card-rating">
                                4.4<i class="fa-regular fa-star card-rating"></i>
                            </div>
                            <p class="card-bought">(19)</p>
                        </div>
                        <div class="card-price-flex">
                            <div class="card-disprice">
                                <i class="fa-solid fa-indian-rupee-sign"></i> Rs 26,600
                            </div>
                            <div class="card-price strikeoff">
                                <i class="fa-solid fa-indian-rupee-sign strikeoff"></i>42,000
                            </div>
                            <div class="card-discount">26% off</div>
                        </div>
                    </div>
                    <div class="card-container ecom-card">
                        <div class="card-details">
                            <a href="../product-detail/product-details.html" class="card-link">
                                <img src="/assets/items/item2.png" alt="" class="card-image ecom-img" />
                            </a>
                        </div>
                        <a href="" class="card-title link-title">Noise</a>

                        <div class="card-flex">
                            <div class="card-rating">
                                4.9<i class="fa-regular fa-star card-rating"></i>
                            </div>
                            <p class="card-bought">(189)</p>
                        </div>
                        <div class="card-price-flex">
                            <div class="card-disprice">
                                <i class="fa-solid fa-indian-rupee-sign"></i> Rs 38,000
                            </div>
                            <div class="card-price strikeoff">
                                <i class="fa-solid fa-indian-rupee-sign strikeoff"></i>Rs 45,000
                            </div>
                            <div class="card-discount">10% off</div>
                        </div>
                    </div>
                    <div class="card-container ecom-card">
                        <div class="card-details">
                            <a href="../product-detail/product-details.html" class="card-link">
                                <img src="/assets/items/item3.png" alt="" class="card-image ecom-img" />
                            </a>
                        </div>
                        <a href="" class="card-title link-title">Mori</a>

                        <div class="card-flex">
                            <div class="card-rating">
                                4.1<i class="fa-regular fa-star card-rating"></i>
                            </div>
                            <p class="card-bought">(109)</p>
                        </div>
                        <div class="card-price-flex">
                            <div class="card-disprice">
                                <i class="fa-solid fa-indian-rupee-sign"></i>Rs 25,000
                            </div>
                            <div class="card-price strikeoff">
                                <i class="fa-solid fa-indian-rupee-sign strikeoff"></i>Rs 32,000
                            </div>
                            <div class="card-discount">36%</div>
                        </div>
                    </div>
                    <div class="card-container ecom-card">
                        <div class="card-details">
                            <a href="../product-detail/product-details.html" class="card-link">
                                <img src="/assets/items/item4.png" alt="" class="card-image ecom-img" />
                            </a>
                        </div>
                        <a href="" class="card-title link-title">Sunda</a>

                        <div class="card-flex">
                            <div class="card-rating">
                                4.8<i class="fa-regular fa-star card-rating"></i>
                            </div>
                            <p class="card-bought">(819)</p>
                        </div>
                        <div class="card-price-flex">
                            <div class="card-disprice">
                                <i class="fa-solid fa-indian-rupee-sign"></i>Rs 40,000
                            </div>
                            <div class="card-price strikeoff">
                                <i class="fa-solid fa-indian-rupee-sign strikeoff"></i>Rs 55,000
                            </div>
                            <div class="card-discount">29%</div>
                        </div>
                    </div>
                    <div class="card-container ecom-card">
                        <div class="card-details">
                            <a href="../product-detail/product-details.html" class="card-link">
                                <img src="/assets/items/item6.png" alt="" class="card-image ecom-img" />
                            </a>
                        </div>
                        <a href="" class="card-title link-title">Alor</a>

                        <div class="card-flex">
                            <div class="card-rating">
                                4.8<i class="fa-regular fa-star card-rating"></i>
                            </div>
                            <p class="card-bought">(389)</p>
                        </div>
                        <div class="card-price-flex">
                            <div class="card-disprice">
                                <i class="fa-solid fa-indian-rupee-sign"></i> Rs 16,000
                            </div>
                            <div class="card-price strikeoff">
                                <i class="fa-solid fa-indian-rupee-sign strikeoff"></i>Rs 22,000
                            </div>
                            <div class="card-discount">66%</div>
                        </div>
                    </div>
                    <div class="card-container ecom-card">
                        <div class="card-details">
                            <a href="../product-detail/product-details.html" class="card-link">
                                <img src="/assets/items/item7.png" alt="" class="card-image ecom-img" />
                            </a>
                        </div>
                        <a href="" class="card-title link-title">Alor</a>

                        <div class="card-flex">
                            <div class="card-rating">
                                4.8<i class="fa-regular fa-star card-rating"></i>
                            </div>
                            <p class="card-bought">(389)</p>
                        </div>
                        <div class="card-price-flex">
                            <div class="card-disprice">
                                <i class="fa-solid fa-indian-rupee-sign"></i> Rs 16,000
                            </div>
                            <div class="card-price strikeoff">
                                <i class="fa-solid fa-indian-rupee-sign strikeoff"></i>Rs 22,000
                            </div>
                            <div class="card-discount">66%</div>
                        </div>
                    </div>
                    <div class="card-container ecom-card">
                        <div class="card-details">
                            <a href="../product-detail/product-details.html" class="card-link">
                                <img src="/assets/items/item6.png" alt="" class="card-image ecom-img" />
                            </a>
                        </div>
                        <a href="" class="card-title link-title">Alor</a>

                        <div class="card-flex">
                            <div class="card-rating">
                                4.8<i class="fa-regular fa-star card-rating"></i>
                            </div>
                            <p class="card-bought">(389)</p>
                        </div>
                        <div class="card-price-flex">
                            <div class="card-disprice">
                                <i class="fa-solid fa-indian-rupee-sign"></i> Rs 16,000
                            </div>
                            <div class="card-price strikeoff">
                                <i class="fa-solid fa-indian-rupee-sign strikeoff"></i>Rs 22,000
                            </div>
                            <div class="card-discount">66%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bg">
        <div class="footer-container">
            <div class="ftr-itms">
                <span class="ftr-img-wrap"><img src="../assets/brand-ftr.svg" alt="" class="footer-img"></span>
                <span class="ftr-itm-hll">Address</span>
                <span class="ftr-itm">Store & Office</span>
                <span class="ftr-itm">Jl. Setrasari Kulon III,No. 10-12</span>
                <span class="ftr-itm">Sukarasa, Sukasari, Bandung,</span>
                <span class="ftr-itm">Jawa Barat, Area 51</span>
                <span class="ftr-itm-hl">Office Hour</span>
                <span class="ftr-itm">Monday-Sunday</span>
                <span class="ftr-itm">10:00 - 18:00</span>
            </div>
            <div class="ftr-itms">
                <span class="ftr-itm-hll">Get in touch</span>
                <div class="underline"></div>
                <span class="ftr-itm-hl">Phone <span class="ftr-num">+91644500000</span></span>
                <span class="ftr-itm">Service Center <span class="ftr-num">+91644506000</span></span>
                <span class="ftr-itm">Customer Service <span class="ftr-num">+91644003000</span></span>
                <span class="ftr-socials">
                    <span class="ftr-itm-icon"><i class="ri-facebook-circle-fill ftr-social-ic"></i></span>
                    <span class="ftr-itm-icon"><i class="ri-instagram-fill ftr-social-ic"></i></span>
                    <span class="ftr-itm-icon"><i class="ri-twitter-fill ftr-social-ic"></i></span>
                    <span class="ftr-itm-icon"><i class="ri-youtube-fill ftr-social-ic"></i></span>
                    <span class="ftr-itm-icon"><i class="ri-reddit-fill ftr-social-ic"></i></span>
                </span>
            </div>
            <div class="ftr-itms">
                <div href="#" class="ftr-itm-hll">Campaign</div>
                <div class="underline"></div>
                <a href="#" class="ftr-itm">Mengenal Anti Cukup</a>
                <a href="#" class="ftr-itm">Tell Your Difference</a>
                <a href="#" class="ftr-itm">WayKambas</a>
                <a href="#" class="ftr-itm">Rebrand</a>
                <a href="#" class="ftr-itm-hl">Gallery</a>
                <a href="#" class="ftr-itm">Singo</a>
                <a href="#" class="ftr-itm">Rakai</a>
            </div>
        </div>
    </div>

</body>

</html>
